{% extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}

{% block main %}
<h1>Лабораторная работа №2</h1>
    <div>Тема лабораторной — Шаблоны. Список сделанных страниц:</div>

    <ul>
        <li><a href="{{ url_for('lab2.all_flowers') }}">flowers</a> — список всех цветов</li>
        <li><a href="{{ url_for('lab2.add_flower_no_name') }}">/add_flower/</a> — ошибка 400 (нет имени)</li>
        <li><a href="{{ url_for('lab2.clear_flowers') }}">flowers_clear</a> — очистить список цветов</li>

       <li><a href="{{ url_for('lab2.calc_default') }}">calc</a> — калькулятор (по умолчанию 1 и 1)</li>

        <li><a href="{{ url_for('lab2.filters') }}">filters</a> — фильтры</li>

        <li><a href="{{ url_for('lab2.fruits_gallery') }}">fruits</a> — галерея фруктов</li>
    </ul>
{% endblock %}